Security_Compliance_Workflow.json
{
  "name": "Security & Compliance Management",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 400],
      "id": "telegram-trigger-001",
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Parse command and extract user info\nconst message = $input.first().json.message;\nconst text = (message.text || '').toLowerCase().trim();\nconst telegramUser = message.from;\n\nreturn {\n  json: {\n    telegram_id: telegramUser.id.toString(),\n    chat_id: message.chat.id,\n    username: telegramUser.username || `user_${telegramUser.id}`,\n    message_text: text,\n    \n    // Check for privacy/security commands\n    is_privacy_command: text.startsWith('/privacy') || text.includes('privacy'),\n    is_gdpr_request: text.startsWith('/gdpr') || text.includes('my data') || text.includes('delete'),\n    is_terms_command: text.startsWith('/terms') || text.includes('terms'),\n    is_data_export: text.startsWith('/export') || text.includes('export my data'),\n    \n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "id": "parse-security-command-002",
      "name": "Parse Security Command"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "privacy-cmd",
                    "leftValue": "={{ $json.is_privacy_command }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "privacy_policy"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "gdpr-cmd",
                    "leftValue": "={{ $json.is_gdpr_request }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "gdpr_request"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "export-cmd",
                    "leftValue": "={{ $json.is_data_export }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "data_export"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "terms-cmd",
                    "leftValue": "={{ $json.is_terms_command }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "terms_of_service"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 400],
      "id": "route-security-command-003",
      "name": "Route Command"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Security Command').item.json.chat_id }}",
        "text": "=🔒 **Privacy Policy**\\n\\n**Chucky Privacy Statement**\\n\\nWe take your privacy seriously.\\n\\n**Data We Collect:**\\n• Telegram ID and username\\n• Usage statistics (request counts)\\n• Payment information (via Stripe - we don't store card details)\\n• Images you analyze (temporarily)\\n\\n**How We Use It:**\\n• To provide our service\\n• To improve our AI models\\n• To send you important updates\\n• For billing purposes\\n\\n**Data Retention:**\\n• User data: As long as you have an account\\n• Images: Deleted after 24 hours\\n• Usage logs: 90 days\\n• Payment records: 7 years (legal requirement)\\n\\n**Your Rights:**\\n• View your data: /export\\n• Delete your account: /gdpr delete\\n• Request data deletion: /gdpr\\n\\n**Data Security:**\\n• All data encrypted in transit (HTTPS)\\n• Database encryption at rest\\n• Regular security audits\\n• No third-party sharing without consent\\n\\n**Contact:**\\nFor privacy questions: privacy@chucky.ai\\n\\nLast updated: {{ new Date().toLocaleDateString() }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 220],
      "id": "send-privacy-policy-004",
      "name": "Send Privacy Policy"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Security Command').item.json.chat_id }}",
        "text": "=🇪🇺 **GDPR Data Request**\\n\\nYou can exercise your GDPR rights:\\n\\n**Available Actions:**\\n\\n1️⃣ **View Your Data**\\nSend: /export\\n\\n2️⃣ **Delete Your Account**\\nSend: /gdpr delete confirm\\n⚠️ This will permanently delete ALL your data\\n\\n3️⃣ **Request Data Correction**\\nContact: privacy@chucky.ai\\n\\n4️⃣ **Opt-out of Analytics**\\nSend: /gdpr optout\\n\\n**Processing Time:**\\n• Data export: Immediate\\n• Account deletion: Within 24 hours\\n• Other requests: Within 30 days\\n\\n**Your Current Status:**\\n• Account created: {{ $now }}\\n• Data retention: Active\\n• Marketing consent: Check with /privacy\\n\\nWhat would you like to do?",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": "{\"inline_keyboard\":[[{\"text\":\"📥 Export My Data\",\"callback_data\":\"export_data\"},{\"text\":\"🗑️ Delete Account\",\"callback_data\":\"delete_account\"}]]}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 380],
      "id": "send-gdpr-options-005",
      "name": "Send GDPR Options"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Export all user data\nSELECT\n  json_build_object(\n    'user_profile', (\n      SELECT json_build_object(\n        'telegram_id', telegram_id,\n        'username', username,\n        'first_name', first_name,\n        'last_name', last_name,\n        'email', email,\n        'subscription_status', subscription_status,\n        'created_at', created_at,\n        'last_login', last_login\n      )\n      FROM users WHERE telegram_id = '{{ $('Parse Security Command').item.json.telegram_id }}'\n    ),\n    'usage_data', (\n      SELECT json_agg(json_build_object(\n        'action_type', action_type,\n        'timestamp', timestamp,\n        'cost', cost\n      ))\n      FROM usage_tracking WHERE telegram_id = '{{ $('Parse Security Command').item.json.telegram_id }}'\n      ORDER BY timestamp DESC LIMIT 100\n    ),\n    'payment_history', (\n      SELECT json_agg(json_build_object(\n        'invoice_number', invoice_number,\n        'amount', amount,\n        'plan_type', plan_type,\n        'invoice_date', invoice_date,\n        'status', status\n      ))\n      FROM invoices WHERE telegram_id = '{{ $('Parse Security Command').item.json.telegram_id }}'\n    ),\n    'quota_status', (\n      SELECT json_build_object(\n        'usage_count', usage_count,\n        'last_request_at', last_request_at,\n        'last_reset_at', last_reset_at\n      )\n      FROM users WHERE telegram_id = '{{ $('Parse Security Command').item.json.telegram_id }}'\n    )\n  ) as user_data;",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 540],
      "id": "export-user-data-006",
      "name": "Export User Data"
    },
    {
      "parameters": {
        "jsCode": "// Format exported data as readable JSON file\nconst userData = $input.first().json[0].user_data;\nconst chatId = $('Parse Security Command').item.json.chat_id;\nconst username = $('Parse Security Command').item.json.username;\n\n// Create formatted JSON string\nconst formattedData = JSON.stringify(userData, null, 2);\n\n// Create file content\nconst fileName = `chucky_data_export_${username}_${new Date().toISOString().split('T')[0]}.json`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    file_content: formattedData,\n    file_name: fileName,\n    summary: `Your data export is ready!\\n\\n` +\n             `**Included:**\\n` +\n             `• Profile information\\n` +\n             `• Last 100 usage events\\n` +\n             `• Complete payment history\\n` +\n             `• Current quota status\\n\\n` +\n             `This data is yours under GDPR Article 15.`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 540],
      "id": "format-export-007",
      "name": "Format Data Export"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 540],
      "id": "send-export-message-008",
      "name": "Send Export Message"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Security Command').item.json.chat_id }}",
        "text": "=📜 **Terms of Service**\\n\\n**Chucky - Terms of Use**\\n\\nBy using Chucky, you agree to:\\n\\n**1. Service Usage**\\n• Use the service lawfully\\n• Don't abuse or attempt to hack\\n• Respect usage quotas\\n• No spam or malicious content\\n\\n**2. Content Rights**\\n• You own your images\\n• We process them temporarily (24hrs)\\n• AI analysis results are yours\\n• We may use anonymized data to improve\\n\\n**3. Payments**\\n• Subscriptions auto-renew monthly\\n• Cancel anytime (no refunds)\\n• Prices subject to change (30 days notice)\\n• Processed securely via Stripe\\n\\n**4. Service Availability**\\n• We aim for 99% uptime\\n• No guarantees of continuous service\\n• May suspend for maintenance\\n• 24hr notice for planned downtime\\n\\n**5. Liability**\\n• Service provided \"as is\"\\n• No warranties of accuracy\\n• Not liable for business losses\\n• Max liability: Your subscription fee\\n\\n**6. Account Termination**\\n• We may terminate for TOS violations\\n• You may delete anytime\\n• Data retained 90 days after deletion\\n\\n**7. Changes to Terms**\\n• We may update these terms\\n• Email notification of major changes\\n• Continued use = acceptance\\n\\n**Contact:**\\nlegal@chucky.ai\\n\\nEffective: {{ new Date().toLocaleDateString() }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 700],
      "id": "send-terms-009",
      "name": "Send Terms of Service"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "audit_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $('Parse Security Command').item.json.telegram_id }}"
            },
            {
              "fieldId": "action",
              "fieldValue": "privacy_command"
            },
            {
              "fieldId": "command",
              "fieldValue": "={{ $('Parse Security Command').item.json.message_text }}"
            },
            {
              "fieldId": "ip_address",
              "fieldValue": "telegram"
            },
            {
              "fieldId": "user_agent",
              "fieldValue": "telegram_bot"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $('Parse Security Command').item.json.timestamp }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({chat_id: $('Parse Security Command').item.json.chat_id, username: $('Parse Security Command').item.json.username}) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 300],
      "id": "log-privacy-action-010",
      "name": "Log Privacy Action"
    },
    {
      "parameters": {
        "content": "## Security & Compliance Management\n\n**Purpose**: Handle privacy, GDPR, and security commands\n\n**Commands Supported**:\n• /privacy - View privacy policy\n• /gdpr - GDPR data request options\n• /export - Export all user data\n• /terms - View terms of service\n\n**GDPR Compliance**:\n✅ Right to access (data export)\n✅ Right to erasure (account deletion)\n✅ Right to data portability\n✅ Consent management\n✅ Audit logging\n\n**Data Export Includes**:\n• User profile\n• Usage history (last 100 events)\n• Payment history\n• Quota status\n• All personally identifiable info\n\n**Audit Logging**:\nAll privacy/security commands logged to audit_logs table for compliance.\n\n**Security Features**:\n• HTTPS enforced\n• Database encryption\n• Audit trail\n• GDPR-compliant data handling\n\n**Setup Required**:\n1. Create audit_logs table (see schema)\n2. Update contact emails in messages\n3. Review and customize privacy policy text\n4. Add account deletion logic (not included - requires careful implementation)",
        "height": 560,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [140, 900],
      "id": "documentation-note-011",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Security Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Security Command": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Send Privacy Policy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send GDPR Options",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Export User Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Terms of Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Privacy Policy": {
      "main": [
        [
          {
            "node": "Log Privacy Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send GDPR Options": {
      "main": [
        [
          {
            "node": "Log Privacy Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export User Data": {
      "main": [
        [
          {
            "node": "Format Data Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data Export": {
      "main": [
        [
          {
            "node": "Send Export Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Export Message": {
      "main": [
        [
          {
            "node": "Log Privacy Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Terms of Service": {
      "main": [
        [
          {
            "node": "Log Privacy Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-03T00:00:00.000Z",
  "versionId": "1"
}
